<h2>Clientes</h2>

<button class="btn btn-primary" (click)="goToCreate()">Nuevo Cliente</button>

<div class="search-box">
  <input
    type="text"
    placeholder="Buscar cliente..."
    [(ngModel)]="searchText"
    (input)="search()"
  />
</div>

<table border="1" width="100%">
  <tr>
    <th>Nombre</th>
    <th>Identificación</th>
    <th>Telefono</th>
    <th>Direccion</th>
    <th>Estado</th>
    <th>Acciones</th>
  </tr>

  <tr *ngFor="let client of filteredClients">
    <td>{{ client.person.name }}</td>
    <td>{{ client.person.identification }}</td>
    <td>{{ client.person.phoneNumber }}</td>
    <td>{{ client.person.address }}</td>
    <td>{{ client.clientStatus ? "ACTIVO" : "INACTIVO" }}</td>
    <td>
      <button class="btn btn-secondary" (click)="edit(client.clientCode!)">Editar</button>
      <button 
      [ngClass]="client.clientStatus ? 'btn btn-danger' : 'btn btn-primary'"
      (click)="changeStatus(client.clientCode!)">
        {{ client.clientStatus ? "Inactivar" : "Activar" }}</button>
    </td>
  </tr>
</table>
