spring:
  application:
    name: bank-api

  datasource:
    url: jdbc:postgresql://localhost:5432/sfk_bankdata
    username: postgres
    password: root
#    url: ${SPRING_DATASOURCE_URL}
#    username: ${SPRING_DATASOURCE_USERNAME}
#    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
  servlet:
    context-path: /sfk-bank-api